body
	{
		text-align: center;
		margin-top:10px;
  
	}
	.container
	{
		width:800px;
	}
	.theSvg
	{
		margin-left:auto;
		margin-right:auto;
		width:500px;
		height:450px;
		padding:20px;
		background-color: #fff;
		 
		 
		margin-bottom:20px;
	}

	.axis line {
	    fill: none;
	    stroke: black;
	    shape-rendering: crispEdges;
	    stroke-width: 1px;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}